@import "tailwindcss";

@theme inline {
  --color-background: #F9F9F9;
  --color-foreground: #111827;
  --color-brand-dark: #121419;
  --color-brand-muted: #CBD5E1;
  --color-brand-gray: #475569;
  --color-border-subtle: #E2E8F0;
}

.hairline {
  height: 0.5px;
  background-color: var(--color-brand-muted);
  opacity: 0.25;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
